# Ignore git history (can be huge)
.git
.gitignore

# Ignore local python environments
venv/
env/
.venv/
venv310/*
venv310

# Ignore any locally downloaded models (RunPod should download them, not you)
models/
*.bin
*.safetensors
*.pt
*.pth

# Ignore cache
__pycache__
.pytest_cache
.cache
huggingface_cache/
predictions/
wandb/